#
# This file is part of GEO Knowledge Hub Package Loader.
# Copyright (C) 2021 GEO Secretariat.
#
# GEO Knowledge Hub Package Loader is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.
#

include *.py
include *.rst
include *.sh
include LICENSE
include pytest.ini
recursive-include geo_package_loader *.py

